
<h1 class="font-bold text-center text-sky-600 text-3xl mt-3">Facebook</h1>
<section class="w-1/2 mx-auto bg-gray-50 p-4 rounded border-1 shadow mt-10">
    <h1 class="text-3xl font-medium text-center text-sky-600">Register Now</h1>
    <form [formGroup]="register" (ngSubmit)="submitForm()">
        <div class="mb-1">
            @let name=register.get('name');

            <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">name</label>
            <input formControlName="name" type="text" id="name" class="bg-white border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">


 @if (name?.errors&&name?.touched) {
    <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
        <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
        </svg>
        <span class="sr-only">Danger</span>
        <div>
            <ul class="mt-1.5 list-disc list-inside">
              @if (name?.getError('required')) {
                <li>name is required</li>
              }
              @else if (name?.getError('minlength')) {
                <li>name min length : 3</li>
              }
              @else if (name?.getError('maxlength')) {
                <li>name max length :20</li>
              }
          </ul>
        </div>
      </div>
 }
  
        </div>


        <div class="mb-1">
            @let email=register.get('email');
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">email</label>
            <input formControlName="email" type="email" id="email" class="bg-white border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            @if (email?.errors&&email?.touched) {
                <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                    <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                    </svg>
                    <span class="sr-only">Danger</span>
                    <div>
                        <ul class="mt-1.5 list-disc list-inside">
                          @if (email?.getError('required')) {
                            <li>email is required</li>
                          }
                          @else if (email?.getError('email')) {
                            <li>email is not valid</li>
                          }
                         
                      </ul>
                    </div>
                  </div>
            }
        </div>


        <div class="mb-1">
            @let password=register.get('password');

            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">password</label>
            <input formControlName="password" type="password" id="password" class="bg-white border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            @if (password?.errors&&password?.touched) {
                <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                    <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                    </svg>
                    <span class="sr-only">Danger</span>
                    <div>
                        <ul class="mt-1.5 list-disc list-inside">
                          @if (password?.getError('required')) {
                            <li>password is required</li>
                          }
                          @else if (password?.getError('pattern')) {
                            <li>password is not valid </li>
                          }
                         
                      </ul>
                    </div>
                  </div>
            }
        </div>


        <div class="mb-1">
            @let rePassword=register.get('rePassword');
            <label for="rePassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">rePassword</label>
            <input formControlName="rePassword" type="password" id="rePassword" class="bg-white border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            @if (register.getError('mismatch') && rePassword?.touched) {
                <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                    <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                    </svg>
                    <span class="sr-only">Danger</span>
                    <div>
                        <ul class="mt-1.5 list-disc list-inside">
                         
                            <li>password confirmation is incorrect</li>
                          
                      </ul>
                    </div>
                  </div>
            }
            @if (rePassword?.getError('required')&&rePassword?.touched) {
                <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                    <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                    </svg>
                    <span class="sr-only">Danger</span>
                    <div>
                        <ul class="mt-1.5 list-disc list-inside">
                         
                            <li>rePassword is required</li>
                          
                      </ul>
                    </div>
                  </div>
            }
        </div>
        <div class="mb-1">
          
          <label for="date" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">date</label>
          <input formControlName="dateOfBirth" type="date" id="date" class="bg-white border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
         
      </div>
      <div class="m-2 flex">
        <input formControlName="gender" type="radio" value="male" id="male" class="me-2">
        <label for="gender" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" class="me-2">male</label>
        <input formControlName="gender" type="radio" value="female" id="female" class="me-2">

        <label for="gender" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" class="me-2">female</label>


    </div> 




        <button [disabled]="isloading" type="submit"  class="btn-main w-full">Sign up

          @if (isloading) {
            <span><i class="fas fa-spin fa-spinner"></i></span>
          }
        </button>
        @if (msgError) {
          <p class="bg-red-400 text-white px-2 py-4 border">{{msgError}}</p>
        }
        @if (isSuccess) {
          <p class="bg-red-400 text-white px-2 py-4 border">{{isSuccess}}</p>
        }
    </form>
</section>
